h1 {
    font-size: 1.5em;
    margin-bottom: 2em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

/*common controls*/
.form {
}

.button {
    cursor: pointer;
    outline: none;
}

/*app specific*/
.app-container {
    margin: auto;
    padding: 2em;
}

.form_search {
    margin-bottom: 2em;
}

/* Results Table*/
.results-table {
}

.results-table__header-row {
    font-size: 1.2em;
    font-weight: bold;
}

.results-table__header-cell {
    background-color: lightblue;
    padding: 0.8em 0.5em;
}

.results-table__header-cell_date {
}

.results-table__header-cell_status {
}

.results-table__header-cell_from {
}

.results-table__header-cell_to {
}

.results-table__data-row {

}

.results-table__data-row:nth-child(even) {
    background-color: #eee;
}

.results-table__data-row:nth-child(odd) {
    background-color: #eef;
}

.results-table__data-cell {
    padding: 0.5em;
}

.results-table__data-cell_number {
    font-weight: bold;
}

.results-table__data-cell_date {
    min-width: 10em;
}

.results-table__data-cell_status {
}

.results-table__data-cell_status-departed {
    background-color: #77A;
}

.results-table__data-cell_status-on_time {
    background-color: rgba(86, 255, 69, 0.2);
}

.results-table__data-cell_status-canceled {
    background-color: #da751d;
}

.results-table__data-cell_status-scheduled {

}

.results-table__data-cell_status-arrived {
    background-color: rgba(86, 255, 69, 0.61);
}

.results-table__data-cell_code-from {
}

.results-table__data-cell_name-from {
}

.results-table__data-cell_code-to {
}

.results-table__data-cell_name-to {
}

/*Sort buttons*/
.sort-button {
    width: 9px;
    height: 9px;
    background-repeat: no-repeat;
    display: inline-block;
    border: none;
    border-collapse: collapse;
    padding: 0;
}

.sort-button_up {
    background-image: url("assets/img/arrows.png");
    background-position: 0 0;
}

.sort-button_up.active, .sort-button_up:hover {
    background-position: 0 -17px;
}

.sort-button_down {
    background-image: url("assets/img/arrows.png");
    background-position: 0 -9px;
}

.sort-button_down.active, .sort-button_down:hover {

    background-position: 0 -26px;
}

.results-table .sort-button {
    float: right;
}

.results-table .sort-button_down {
    clear: both;
}

.alert {
    text-align: center;
    padding: 1em;
}

.alert_empty-search {
    border: 1px solid #a77;
    border-radius: 0.5em;
    color: #a77;
}
